/* font-family */
$font-ptsans: 'PT Sans',sans-serif;
$font-roboto: 'Roboto',sans-serif;
$font-opensans: 'Open Sans', sans-serif;

/* color */

$color-white : #fff;
$color-gray: #717171;
$color-black: #333;
$color-orange: #953320;
$color-link: #552a0e;
$color-border: #b8bdb8;
$bg-footer: #2d2c2c;
$bg-header: #4e8771;
$color-text-input: #222;
$bg-banner: #77ae99;

$color-blue: #009adc;
$color-red: #ff0000;

