.content {
    overflow: hidden;
    
}

.main {
    background: $color-white url(../images/background.png) repeat;
}

.main--content {
    background: $color-white;
    min-height: rem(700px);
    padding-top: 30px;
}

