/*
 * FOOTER
 * @FOOTER stylesheet,  
*/
.footer {
    overflow: auto;

    text-align: center;

    background: $bg-footer;
    &--wrap {
        background: transparent;
    }
    &__title {
        margin: rem(46px 0 20px 0);

        text-align: center;

        @include set-font($font-ptsans, rem(18px), bold, $color-white);
    }
}