.user-modal{
    .error{
        color: $color-red;
        font-weight: normal;
    }
    .user-modal__message{
        color: $color-red;
        margin-left: rem(20px);
    }
    .user-modal__title{
        @include set-font($font-ptsans, rem(18px), bold, $color-blue);
    }
}