.user {
    &__menu{
        margin-bottom: rem(20px);
        padding: rem(10px 0px);
    }
    &__search {
        display: inline;
        float: right;
    }
    &__pagination{
        float: right;
    }
}
