nav.navbar.navbar-modern
    .navbar-header
        button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target=".nav--main")
            span.sr-only Menu
            span.icon-bar
            span.icon-bar
            span.icon-bar

    .nav--main.collapse.navbar-collapse
        ul.nav.navbar-nav
            li
                a(href="#") Home

            li
                a(href="#") about
               
            li
                a(href="#") products
                    
            li
                a(href="#") contact