doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title User manager
        link(href='styles/styles.css', rel='stylesheet')
    body
        .container hahafsfasasdfasf

