/* 
* todo new 
*/

.todo-new {
    position: relative;

    background-color: rgba(0, 0, 0, .003);
    &__field {
        font-size: 24px;
        line-height: 28px;

        width: 100%;
        padding: 20px 20px 20px 60px;

        border: none;
        outline: none;
        box-shadow: inset 0 -2px 1px rgba(0,0,0,.03);
    }
    &__field::-webkit-input-placeholder {
        font-style: italic;
    }
    &__field::-moz-placeholder {
        /* Firefox 19+ */
        font-style: italic;
    }
    &__field:-ms-input-placeholder {
        font-style: italic;
    }
    &__field:-moz-placeholder {
        /* Firefox 18- */
        font-style: italic;
    }
    .todo-new__toggle--all {
        font-size: 24px;

        position: absolute;
        top: 30%;

        margin: 0 10px;

        color: $cl-gray;
                appearance: none;
           -moz-appearance: none;
        -webkit-appearance: none;
        &:checked {
            color: #737373;
        }
        &:focus {
            outline: none;
        }
    }
}
