.todo-list {
    margin: 0;
    padding: 0;

    list-style: none;
    .todo-item {
        border-bottom: 1px solid #ededed;
    }
    .editing {
        .todo-view {
            display: none;
        }
        .todo-item__edit {
            @extend %block;
        }
    }
}





.todo-item {
    font-size: 24px;
    .todo-view {
        position: relative;
        &:hover .todo-item__btn-delete {
            display: inline;
        }
    }
    .todo-item__toggle {
        position: absolute;
        top: 0;
        bottom: 0;

        width: 50px;
        height: 35px;
        margin: auto 0;

        @extend %text-center;

                appearance: none;
           -moz-appearance: none;
        -webkit-appearance: none;
        &:focus {
            outline: none;
        }
        &:after {
            display: inline-block;

            width: 35px;
            height: 35px;

            content: '';

            @include border(1px, #efefef);
            @include rounded(50%);
        }
    }
    &__toggle:checked:after {
        @include border(1px, #c7e0db);
        background: url(../images/check-icon.png) no-repeat center center;
    }
    &__toggle:checked + &__name {
        text-decoration: line-through;

        color: $cl-gray;
    }
    &__name {
        font-weight: normal;

        @extend %block;
        overflow: hidden;

        margin: 0 0 0 45px;
        padding: 20px;
    }
    .todo-item__btn-delete {
        font-size: 24px;

        position: absolute;
        top: 20px;
        right: 15px;

        display: none;

        color: $cl-btn-delete;
    }
    &__edit {
        display: none;

        width: 92%;
        height: 100%;
        margin-left: 8%;
        padding: 15px;

        @include border(1px, #999);
        outline: none;
    }
}
