extends ../layout.jade
block content
    .list-user Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae dolor in velit egestas congue. Donec fringilla est at est iaculis, vitae scelerisque nunc convallis. Pellentesque tellus dolor, facilisis in.
