extends ../layout.jade
block content
    .user-list.table-responsive 
        table.table.table-striped
            thead
                tr
                    th ID
                    th Name
                    th Address
                    th Email
                    th Edit
                    th Delete
            tbody(id="listAllUser")
                tr
                    td ID
                    td Name
                    td Address
                    td Email
                    td Edit
                    td Delete
                tr
                    td ID
                    td Name
                    td Address
                    td Email
                    td Edit
                    td Deletef


