extends ../layout.jade
block content
    .user-list.table-responsive 
        table.table.table-striped
            thead
                tr
                    th ID
                    th Name
                    th Email
                    th Phone
                    th Address
                    th Edit
                    th Delete
            tbody(id="listAllUser")
                


