
/* body */
body {
    line-height: rem(20px);

    letter-spacing: -.25px;

    @include set-font($font-opensans, 14px, normal, $color-gray);
}

a:link,
a:active,
a:visited,
a:focus {
    text-decoration: none;

    color: $color-link;
    outline: none;
    outline-width: 0;
}
a:hover {
    text-decoration: underline;
}

